@import url("https://fonts.googleapis.com/css?family=Chau+Philomene+One|Open+Sans:60|Roboto+Condensed:700|Inconsolata|Londrina+Solid");

body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

section {
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

h2 {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
}

.container-border {
        margin: 0% 5% 0% 5%;
}

#header {
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Londrina Solid', cursive;
}

#header h1{
    font-size: 60px;
}
#about {
    display: block;
    width: 100vw;
    background-color: #6C7A89;
}

#starting {
    display: block;
    width: 100vw;
    background-color: #178892;
}

#project {
    display: block;
    width: 100vw;
    background-color: #FBB44C;
}

#branches {
    display: block;
    width: 100vw;
    background-color: #4495CA;
}

#wrong-code {
    display: block;
    width: 100vw;
    background-color: #18BC9C;
}

#wrong-master {
    display: block;
    width: 100vw;
    background-color: #2C3E50;
}

#footer {
    display: block;
    width: 100vw;
    background-color: #18BC9C;
    text-align: center;
}

.myCode {
    font-family: 'Inconsolata', monospace;
    padding: 1%;
    background-color: #FFF;
    color: #000;
}

.content {
    background-color: #E8E8E8;
    color: #000000;
    padding: 2%;
    margin: 2%
}

.full-img {
    width: 100%;
}

.not-added {
    color: red;
}
.added {
    color: green;
}

.no-style-list {
    list-style-type: none;
}

.half-img {
    width: 50%;
}

.more-half-img {
    width: 75%;
}